.Pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
  justify-content: flex-end;
  align-items: center;
}

.Pagination-Item {
  color: #000;
  background-color: transparent;
  padding: 2px 6px;
  display: flex;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  max-height: 20px;
}

.Pagination-Item span {

}

.Pagination-Item:hover {
  background-color: #E1E1E1;
}

.Pagination-Item.isActive {
  color: #fff;
  background-color: #0087E9;
}

.Pagination-Item.isActive:hover {
  background-color: #0087E9;
  cursor: default;

}

.Pagination-ItemSpace {
  font-size: 16px;
  line-height: 1;
  padding: 2px 6px;
  display: flex;
  color: #CCCCCC;
  background-color: transparent;
}
