.Field {
  margin: 20px 0;
}

.Field-label {
}

.Field_input {
}

.Field-error {
  color: #f00;
}

.Field-textarea {
  display: flex;
}

.Field-textarea textarea{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.Field-textarea textarea::placeholder{
  color: rgba(0, 0, 0, 1);
  ;
}

.CommentForm {
  margin-bottom: 30px;
}


.CommentForm-Button:disabled {
  opacity: 0.8;
}

.CommentForm .Field-label {
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 12px;
}

.CommentForm .Field {

  margin-bottom: 12px;
}
