.UserCard {
  padding: 20px 40px;
}

.UserCard-description {
  font-size: 18px;
  margin: 20px 0;
}

.UserCard-prop {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}

.UserCard-prop_size_big {
  font-size: 24px;
  font-weight: bold;
}

.UserCard-label {
  padding-right: 10px;
}

.UserCard-value {
  font-weight: bold;
}

.UserCard-title {
  margin: 20px 0;
}

.Form {
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap : 20px;
}

.Form-Wrapper {
  display: flex;
  flex-direction: column;
  gap : 20px;
  align-items: flex-start;
}

.Form-Error {
   color: rgba(255, 0, 0, 1);
}

.Form input{
  display: block;
}



